@import url("https://use.typekit.net/yvb0ibv.css");
@import "/public/styles/global.scss";

// Global Styles

body {
    // background: linear-gradient(to bottom, #0e0725 0%,#3e4c5e 50%,#0e0725 100%);
    background: $color-1;
    font-family: 'Proxima Nova', sans-serif;
    line-height: 1.8;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-weight: 800;
    line-height: 1;
}

h1, h2 {
    font-size: clamp(2rem, 6vw, 6rem);
    margin: 0 0 20px;
}

h3.tagline {
    color: $color-3;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background: $color-1;

    img {
        max-width: 220px;
        width: 20%;
    }
}
 