@import "/public/styles/global.scss";

.features {
    @include grid;
}

.feature {
    grid-column: auto / span 24;

    @include tablet-min {
      grid-column: auto / span 8;
    }

    img {
        max-width: 100%;
        display: block;
    }
    
}

.features--50 .feature {
    grid-column: auto / span 24;

    @include tablet-min {
      grid-column: auto / span 12;
    }

    img {
        max-width: 100%;
        display: block;
    }
}

.features--25 .feature {
    grid-column: auto / span 24;

    @include tablet-min {
      grid-column: auto / span 6;
    }

    img {
        max-width: 100%;
        display: block;
    }
}

.features--100 .feature {
    grid-column: auto / span 24;

    img {
        max-width: 100%;
        display: block;
    }
}

.image {
    padding: 10px;
}