@import "/public/styles/global.scss";

.hero {
    @include grid;
    padding: 20px 20px 60px;

    img {
        max-width: 100%;
        display: block;
    }

    &__image {
        grid-column: auto / span 24;
        order: -1;

        @include tablet-min {
          grid-column: auto / span 14;
        }
        
    }

    &__text {
        grid-column: auto / span 24;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 40px;

        @include tablet-min {
          grid-column: auto / span 10;
        }
        
    }
}