@import "/public/styles/global.scss";

.hero {
    @include grid;
    padding: 60px 20px 80px;

    img {
        max-width: 100%;
        display: block;
    }

    &__image {
        grid-column: auto / span 24;
        order: -1;

        @include tablet-min {
          grid-column: auto / span 14;
        }
        
    }

    &__text {
        grid-column: auto / span 24;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 40px;

        @include tablet-min {
          grid-column: auto / span 10;
        }

        h2 {
          background-color: hsla(197, 100%, 63%, 1) 100%;
          background-image: $gradient-blue-purple;
          background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent; 
          -moz-text-fill-color: transparent;
        }

        p:last-of-type {
          margin-bottom: 40px;
        }
        
    }
}