@import "/public/styles/global.scss";

.image_text_50 {
    padding: 60px 20px;
    @include grid;


    .text {
        grid-column: auto / span 24;
        order: 2;

        @include tablet-min {
          grid-column: auto / span 12;
        }

        .featured__headline {

            &--blue_purple {
                background-image: $gradient-blue-purple;
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }

            &--pink_blue {
                background-image: $gradient-pink-blue;
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }

            &--gold_orange {
                background-image: $gradient-gold-orange;
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
            }
        }
        
    }

    .image {
        grid-column: auto / span 24;
        order: 1;
        display: flex;
        align-items: initial;
        justify-content: flex-start;

        @include tablet-min {
          grid-column: auto / span 12;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        
    }

    &--img_right {
        
            .text {
                order: 1;     
            }

            .image {
                order: 2;
                justify-content: flex-end;           
            }
        
    }

    &--img_top {
        
        .text {
            grid-column: auto / span 24;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            
            h3, h2, p {
                text-align: center;
                width: 100%;
            }

            p:last-of-type {
                margin-bottom: 40px;
            }
        }

        .image {
            grid-column: auto / span 24;
            max-width: 1000px;
            margin: 0 auto 40px; 
            justify-content: center;          
        }
    
    }

    &--inset {
        background: $color-2;
        border-radius: 32px;
        padding: 60px;
        margin: 60px 0;

        h2, p {
            color: $color-4;
        }

        .image {
            margin: -120px 0;
            justify-content: center;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        &.image_text_50--img_top {
            
            .image {
                margin: -120px auto 60px;
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
            }

        }
    }
}

